<style>
    .form-inline .control-label { width: 100px; }
</style>

<h2><%= @payment_method.name %></h2>
<hr/>

<%= simple_form_for([:admin, :billing, @payment_method], html: { class: 'form-inline' }) do |f| %>

    <%= render 'admin/shared/error_messages', object: f.object %>

    <div class="well row" style="margin-left: 0;">

      <div class="col-md-6">
        <div>
          <label>Card Holder:</label>
          <%= link_to @payment_method.cardholder_name, admin_system_user_path(@payment_method.user) %>
        </div>
        <div>
          <label>Brand:</label>
          <%= @payment_method.card_brand.titlecase %>
        </div>
        <div>
          <label>Number:</label>
          <%= @payment_method.card_display %>
        </div>

      </div>

      <div class="col-md-6">
        <div>
          <label>Expiration:</label>
          <%= @payment_method.expiration_month %> / <%= @payment_method.expiration_year %>
        </div>
        <div>
          <label>Status:</label>
          <%= @payment_method.status %>
        </div>
        <% unless @payment_method.last_transaction_date.nil? %>
            <div>
              <label>Last Transaction:</label>
              <%= @payment_method.last_transaction_date %>
            </div>
        <% end %>
      </div>
    </div>




    <div class="row">
      <div class="col-md-5">
        <%= f.input :default %>
        <%= f.input :name %>
        <%= f.input :expiration_month, collection: (1..12), label: 'Exp Month' %>
        <%= f.input :expiration_year, collection: (2014..2024), label: 'Exp Year' %>
        <%= f.input :status %>
        <%= f.input :bill_attempts %>
      </div>

      <div class="col-md-6">
        <h4><u>Billing Address</u></h4>
        <%= f.input :billing_street1, label: 'Street1' %>
        <%= f.input :billing_street2, label: 'Street2' %>
        <%= f.input :billing_city, label: 'City' %>
        <%= f.input :billing_state, label: 'State' %>
        <%= f.input :billing_zip, label: 'Zip' %>
        <%= f.input :billing_country, label: 'Country' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>



<%= content_for :head do %>
    <style>
      .well label { float: left; width: 120px; text-align: right; font-weight: bold; padding-right: 12px; }
      .well div div { clear: left; }
    </style>
<% end %>


<%= content_for :title do %>
    <%= @payment_method.name %>
<% end %>


<% content_for :menu do
  render "admin/shared/billing_menu"
end %>


<% content_for :breadcrumbs do %>
    <li><a href="#">Billing</a></li>
    <li><%= link_to "Payment Methods", admin_billing_payment_methods_path %></li>
    <li class="active"><%= @payment_method.name %></li>
<% end %>