<tr>
  <td><input type="checkbox" name="invoice_id[]" class="multiselect hidden-xs" value="<%= invoice.id %>"/></td>
  <td><%= link_to invoice.id.to_s, admin_billing_invoice_path(invoice) %></td>
  <td><%= invoice.post_date ? sysdate(invoice.post_date) : '<span class="light">- not posted -</span>'.html_safe %></td>
  <td><%= link_to invoice.from_affiliate, admin_system_affiliate_path(invoice.from_affiliate) %></td>
  <td><%= link_to_user_or_affiliate invoice, :invoices %></td>
  <td class="text-right"><%= number_to_currency invoice.amount %></td>
  <td class="text-center"><%= invoice.due_date %></td>
  <td class="text-center">
    <% if invoice.paid %>
      <span class="label label-success">paid</span>
    <% elsif invoice.due_date && (invoice.due_date < Date.today) %>
      <span class="label label-danger">overdue</span>
    <% else %>
      <span class="label label-warning">unpaid</span>
    <% end %>
  </td>
  <td class="text-right">
    <%= link_to "edit", edit_admin_billing_invoice_path(invoice) %> &nbsp;
    <%= link_to "delete",
                {controller: 'admin/billing/invoices', action: "destroy", id: invoice.id},
                method: :delete,
                data: {confirm: "Are you sure?"} %>
  </td>
</tr>