<h2>
  <% if @invoice.persisted? %>
    Invoice #<%= @invoice.id %>
  <% else %>
    New Invoice
  <% end %>
  <br>
  <small><%= link_to_user_or_affiliate @invoice %></small>
</h2>
<hr>

<%= render 'admin/shared/error_messages', object: @invoice %>

<%= simple_form_for [:admin, :billing, @invoice] do |f| %>

  <input type="hidden" name="add_more_items" value=""/>
  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <%= link_to "update amount", "#", class: 'update-invoice pull-right' %>
          Invoice:
        </div>
        <div class="panel-body">
          <%= f.association :from_affiliate, label: 'Issued by' %>
          <%= f.association :affiliate, label: 'Issued to' %>
          <%= f.input :amount %>
          <%= f.input :post_date, as: :datepicker%>
          <%= f.input :due_date, as: :datepicker %>  
        </div>
      </div>
    </div>
  
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Notes:</div>
        <div class="panel-body">
          <%= f.input :note, input_html: { class: '', rows: 2 } %>
          <%= f.input :paid %>
        </div>
      </div>
    
      <div class="pull-right">
        <%= link_to '$ update total amount', '#', class: 'update-amount btn btn-default btn-sm' %>
        <%= link_to '+ add more items', '#', class: 'add-more-items btn btn-default btn-sm' %>
      </div>
    </div>

  </div>
  
  
  <h3>Add Payments</h3>
  <table class="table table-striped table-condensed table-bordered">
    <tr>
      <th>Memo</th>
      <th>Transaction ID</th>
      <th>Amount</th>
      <th>&nbsp;</th>
    </tr>
    <%= f.simple_fields_for :payments do |itemf| %>
      <% 
        item = @invoice.payments[itemf.index] 
      %>
        <tr>
          <td><%= itemf.input_field :memo, style: "width: 100%" %></td>
          <td width="150"><%= itemf.input_field :transaction_id %></td>
          <td width="150"><%= itemf.input_field :amount%></td>
          <td width="30">
            <i class="fa fa-times light"></i>
            <%= itemf.hidden_field :_destroy, class: 'destroy' %>
            <%= itemf.hidden_field :payable_id %>
            <%= itemf.hidden_field :payable_type %>
          </td>
        </tr>
    <% end %>
  </table>


  <% if defined?(@pending_payments) && @pending_payments.length > 0 %>
    <h3>Invoice Items</h3>
    <table class="table table-striped table-condensed table-bordered">
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>User / Affiliate</th>
        <th>Item</th>
        <th>Transaction ID</td>
        <th>Method</th>
        <th>Memo</th>
        <th class="text-right">Amount</th>
      </tr>
      <%= render partial: "admin/billing/payments/payment", collection: @pending_payments %>
      <tr>
        <td class="text-right" colspan="7"><b>Total:</b></td>
        <td class="text-right"><b><%= number_to_currency(@pending_payments.sum(&:amount), negative_format: "(%u%n)") %></b></td>
      </tr>
    </table>
  <% end %>

  

  <%= button_tag "Save changes", :class => "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..." } %>

<% end %>



<% content_for :title do %>
    Invoice #<%= @invoice.id %>
<% end %>


<% content_for :head do %>
    <style>
        .form-inline .form-group { margin: 10px 0; }
        .fa-times { cursor: pointer; }
        .bold { font-weight: bold; }
    </style>
    
    <script>
      $(document).ready(function() {
        
        $(".update-amount").click(function(e) {
          
          e.preventDefault();
          var total = 0.0;
      
          $(".quantity").each(function() {  
              var unit_price = parseFloat($(this).parent().parent().find(".unit-price").val());
              var quantity = parseFloat($(this).val());
        
              if (!isNaN(unit_price) && !isNaN(quantity))
                total += unit_price * quantity; 
          });
      
          $("#invoice_amount").val(total.toFixed(2));
        });
        
        
        $(".fa-times").click(function () {
          $(this).parent().parent().hide("slow");
          $(this).siblings(".destroy").val("true");
          return false;
        });
      
        $(".add-more-items").click(function() {
          $("input[name='add_more_items']").val(<%= @invoice.payments.length %>);
          $("form.form-horizontal").submit();
        });
        
      });
    </script>
<% end %>


<% content_for :breadcrumbs do %>
    <li><a href="#">Billing</a></li>
    <li><%= link_to 'Invoices', admin_billing_invoices_path(paid: @invoice.paid ? 1 : 0) %></li>
	<% if @invoice.persisted? %>
    <li><%= link_to "Invoice #{@invoice.id}", admin_billing_invoice_path(@invoice)%></li>
    <li class="active">edit</li>
	<% else %>
		<li class="active">new</li>
	<% end %>
<% end %>
