<%
  start_date = Date.new(2500, 1, 1)
  end_date = Date.new(1900, 1, 1)
  
  invoiced_items = Payment.where(invoice_id: @invoice.id).where.not(payable_type: :invoice)
  invoiced_items.each do |pmt|
    date = sysdate(pmt.created_at)
    date = pmt.payable.shipment.ship_date if pmt.payable_type == "ShipmentItem"
    date = pmt.payable.ship_date if pmt.payable_type == "Shipment"
    date = pmt.payable.submitted if pmt.payable_type == "Order"
    
    start_date = date if date < start_date
    end_date = date if date > end_date
  end
%>

<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Invoice #<%= @invoice.id %></title>
  <style>
      body {
          background:white !important;
          color:black!important;
          width: 95%!important;
          margin: 0 auto!important;
          font-family:Arial, Helvetica, sans-serif!important;
          font-size:10px!important;
      }
      table {
          width: 100%!important;
          border-collapse:collapse;
      }
      table td{
          aborder: 1px solid #ccc;
          padding: 5px!important;
      }
      table.bordered {
        border: solid 1px black;
      }
      table.bordered th {
        padding: 4px;
        border-bottom: solid 1px black;    
      }
      article {
          padding: 0px 0!important;
      }
      p {
          font-weight:normal !important;
          line-height:16px !important;
          margin-top: 0;
      }
      h2 {
          font-size:20px !important;
          margin-bottom: 2px;
      }
      .boxleft {
          float:left!important;
          width: 32%!important;
          margin-top:0px !important;
      }
      .boxcenter {
          float:left!important;
          width: 32%!important;
          margin-top:0px !important;
      }
      .boxright {
          float:left!important;
          width: 32%!important;
          margin-top:0px !important;
      }
      .textright{
          text-align:right !important;
      }
  </style>
</head>
<body onload="awindow.print()">
<section>
  <article>
    <header>
      <table class="no-border" cellspacing="0" cellpadding="0" border="0">
        <thead>
        <tr valign="top">
          <th scope="col" style="text-align:left;">
            <% from = @invoice.from_affiliate %>
            <h2><%= from.name %></h2>

            <p>
              <%= from.address_as_text(skip_country: true, delimiter: "<br>").html_safe %>
            </p>
            <p>
              <strong>Phone:</strong> <%= from.phone %><br/>
              <strong>Email:</strong> <%= from.email %>
            </p>
          </th>
          <th scope="col" style="text-align:right;"> <h2>INVOICE</h2>
            <p>
              
              <strong>Invoice Date: </strong>
              <%= @invoice.post_date.strftime("%d-%^b-%Y") %><br/>
              <strong>Invoice ID: </strong> <%= @invoice.id %><br/>
              <img src="/barcode?code=<%= @invoice.id %>" />
            </p>
          </th>
        </tr>
        </thead>
      </table>


      <div class="boxleft">
        <h2>Bill to: </h2>
        <p><%= @invoice.affiliate.name %><br/>
          <%= @invoice.affiliate.address_as_text(skip_country: true, delimiter: "<br>").html_safe %></p>
      </div>
      <div class="boxleft">
        <h2>Date range:</h2>
        <p><%= sysdate(start_date) %> to <%= sysdate(end_date )%></p>
      </div>
      <div class="boxright">
        <h2>Due:</h2>
        <p>
          <% if @invoice.due_date.nil? || @invoice.due_date == @invoice.post_date %>
            Upon Receipt
          <% else %>
            <%= sysdate @invoice.due_date %>
          <% end %>
        </p>
      </div>
      <div style="clear:both;"></div>
    </header>
    <br/>
    
    <h2>Transactions</h2>
    <table border="1">
      <tr style="background-color: #eee;">
        <th>Date</th>
        <th>Transaction ID</th>
        <th>REF</th>
        <th>Item</th>
        <th>Description</th>
        <th style="text-align: center">Qty</th>
        <th>Memo</th>
        <th style="text-align: right">Amount</th>
      </tr>
      <% 
        invoiced_items = Payment.where(invoice_id: @invoice.id).where.not(payable_type: :invoice)
        invoiced_items.each do |pmt| %>
      <tr>
        <%
        if pmt.payable_type == "ShipmentItem"
          si = ShipmentItem.find(pmt.payable_id)
        %>
          <td><%= si.shipment.ship_date %></td>
          <td><%= si.shipment %></td>
          <td><%= pmt.transaction_id %></td>
          <td><%= si.order_item.item_number %></td>
          <td><%= si.order_item.item_description %></td>
          <td style="text-align: right"><%= si.quantity %></td>
        
        <% elsif pmt.payable_type == "Shipment" 
            shp = Shipment.find(pmt.payable_id) %>
          <td><%= shp.ship_date%></td>
          <td><%= shp.to_s %></td>
          <td><%= pmt.transaction_id %></td>
          <td><%= pluralize(shp.items.sum(&:quantity), "item")%></td>
          <td>Ship to <%= shp.recipient_name %> (<%= shp.recipient_city %>, <%= shp.recipient_state %>)</td>
          <td class="text-center">1</td>
      
        <% elsif pmt.payable_type == "Order" %>
          <td><%= sysdate pmt.payable.submitted %></td>
          <td><%= pmt.payable %></td>
          <td><%= pmt.transaction_id %></td>
          <td><%= pluralize(pmt.payable.items.sum(&:quantity), "item")%></td>
          <td>Ship to <%= pmt.payable.shipping_name %> (<%= pmt.payable.shipping_city %>, <%= pmt.payable.shipping_state %>)</td>
          <td class="text-center">1</td>
        
        <% else %>
          <td><%= sysdate pmt.created_at %></td>
          <td><%= pmt.transaction_id %></td>
          <td> - </td>
          <td> - </td>
          <td> - </td>
          <td> - </td>
        <% end %>
        <td><%= pmt.memo.presence %></td>
        <td style="text-align: right"><%= number_to_currency(pmt.amount * -1.0) %></td>
      </td>
      <% end %>
      <tfoot>
      <tr>
        <td style="text-align: right" colspan="7"><b>Total:</b></td>
        <td style="text-align: right"><b><%= number_to_currency(@invoice.amount) %></b></td>
      </tr>
      </tfoot>
    </table>
    
    
    <% if invoiced_items.any? { |x| x.payable_type == "Shipment"} %>
    <% 
      shipment_ids = invoiced_items.where(payable_type: "Shipment").pluck(:payable_id) 
      grouped_items = ShipmentItem.joins(:order_item)
                                  .where(shipment_id: shipment_ids)
                                  .group("store_order_items.product_id")
                                  .pluck("product_id, store_order_items.item_number, store_order_items.item_description, store_order_items.unit_price, sum(store_shipment_items.quantity) as quantity")
      total = 0.0
    %>
    <h2 style="page-break-before: always;">Item Sale Summary</h2>
    <table border="1">
      <tr style="background-color: #eee;">
        <th>Item</th>
        <th>Description</th>
        <th style="text-align: right">Unit Price</th>
        <th style="text-align: center">Qty</th>
        <th style="text-align: right">Extended Price</th>
      </tr>
      <% grouped_items.each do |product_id, item_number, desc, unit_price, quantity| 
          total += unit_price*quantity
      %>
      <tr>
        <td nowrap><%= item_number %></td>
        <td><%= desc %></td>
        <td style="text-align: right"><%= number_to_currency(unit_price) %></td>
        <td style="text-align: center"><%= quantity %></td>
        <td style="text-align: right"><%= number_to_currency(unit_price*quantity) %></td>
      </tr>
      <% end %>
      <tr>
        <td colspan="4" style="text-align: right"><b>Total:</b></td>
        <td style="text-align: right"><b><%= number_to_currency(total)%></b></td>
      </tr>
    </table>
    <% end %>
    
  </article>


  <h2>Comments</h2>
  <% unless @invoice.note.blank? %>
    <%= @invoice.note %>
  <% else %>
    Thank you for your business!
  <% end %>
  
  <br><br>

</section>
</body>
</html>
