<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Invoice #<%= @invoice.id %></title>
  <style>
      body {
          background:white !important;
          color:black!important;
          width: 95%!important;
          margin: 0 auto!important;
          font-family:Arial, Helvetica, sans-serif!important;
          font-size:10px!important;
      }
      table {
          width: 100%!important;
          border-collapse:collapse;
      }
      table td{
          aborder: 1px solid #ccc;
          padding: 5px!important;
      }
      table.bordered {
        border: solid 1px black;
      }
      table.bordered th {
        padding: 4px;
        border-bottom: solid 1px black;    
      }
      article {
          padding: 0px 0!important;
      }
      p {
          font-weight:normal !important;
          line-height:16px !important;
          margin-top: 0;
      }
      h2 {
          font-size:20px !important;
          margin-bottom: 0px;
      }
      .boxleft {
          float:left!important;
          width: 32%!important;
          margin-top:0px !important;
      }
      .boxcenter {
          float:left!important;
          width: 32%!important;
          margin-top:0px !important;
      }
      .boxright {
          float:left!important;
          width: 32%!important;
          margin-top:0px !important;
      }
      .textright{
          text-align:right !important;
      }
  </style>
</head>
<body onload="awindow.print()">
<section>
  <article>
    <header>
      <table class="no-border" cellspacing="0" cellpadding="0" border="0">
        <thead>
        <tr valign="top">
          <th scope="col" style="text-align:left;">
            <% from = @invoice.from_affiliate %>
            <h2><%= from.name %></h2>

            <p>
              <%= from.address_as_text(skip_country: true, delimiter: "<br>").html_safe %>
            </p>
            <p>
              <strong>Phone:</strong> <%= from.phone %><br/>
              <strong>Email:</strong> <%= from.email %>
            </p>
          </th>
          <th scope="col" style="text-align:right;"> <h2>INVOICE</h2>
            <p>
              
              <strong>Invoice Date: </strong>
              <%= @invoice.post_date.strftime("%d-%^b-%Y") %><br/>
              <strong>Invoice ID: </strong> <%= @invoice.id %><br/>
              <img src="/barcode?code=<%= @invoice.id %>" />
            </p>
          </th>
        </tr>
        </thead>
      </table>


      <div class="boxleft">
        <h2>Bill to: </h2>
        <p><%= @invoice.affiliate.name %><br/>
          <%= @invoice.affiliate.address_as_text(skip_country: true, delimiter: "<br>").html_safe %></p>
      </div>
      <div class="boxright">
        <h2>Payment due date:</h2>
        <p><%= @invoice.due_date.strftime("%d-%^b-%Y") unless @invoice.due_date.nil? %></p>
      </div>
      <div style="clear:both;"></div>
    </header>
    <br/>
    
    <table border="1">
      <tr style="background-color: #eee;">
        <th>Date</th>
        <th>REF</th>
        <th>Transaction ID</th>
        <th>Item Number</th>
        <th>Description</th>
        <th style="text-align: center">Qty</th>
        <th>Memo</th>
        <th style="text-align: right">Amount</th>
      </tr>
      <% 
        invoiced_items = Payment.where(invoice_id: @invoice.id).where.not(payable_type: :invoice)
        invoiced_items.each do |pmt| %>
      <tr>
        <%
        if pmt.payable_type == "ShipmentItem"
          si = ShipmentItem.find(pmt.payable_id)
        %>
          <td><%= si.shipment.ship_date %></td>
          <td><%= si.shipment %></td>
          <td><%= pmt.transaction_id %></td>
          <td><%= si.order_item.item_number %></td>
          <td><%= si.order_item.item_description %></td>
          <td style="text-align: right"><%= si.quantity %></td>
        
        <% elsif pmt.payable_type == "Shipment" 
            shp = Shipment.find(pmt.payable_id) %>
          <td><%= shp.ship_date%></td>
          <td><%= link_to shp.to_s, admin_store_shipment_path(shp) %></td>
          <td><%= pmt.transaction_id %></td>
          <td><%= pluralize(shp.items.sum(&:quantity), "item")%></td>
          <td>Ship to <%= shp.recipient_name %> (<%= shp.recipient_city %>, <%= shp.recipient_state %>)</td>
          <td class="text-center">1</td>
      
        <% elsif pmt.payable_type == "Order" %>
          <td><%= sysdate pmt.payable.submitted %></td>
          <td><%= link_to pmt.payable.to_s, admin_store_order_path(pmt.payable) %></td>
          <td><%= pmt.transaction_id %></td>
          <td><%= pluralize(pmt.payable.items.sum(&:quantity), "item")%></td>
          <td>Ship to <%= pmt.payable.shipping_name %> (<%= pmt.payable.shipping_city %>, <%= pmt.payable.shipping_state %>)</td>
          <td class="text-center">1</td>
        
        <% else %>
          <td><%= sysdate pmt.created_at %></td>
          <td><%= pmt.transaction_id %></td>
          <td> - </td>
          <td> - </td>
          <td> - </td>
          <td> - </td>
        <% end %>
        <td><%= pmt.memo.presence %></td>
        <td style="text-align: right"><%= number_to_currency(pmt.amount, negative_format: "(%u%n)") %></td>
      </td>
      <% end %>
      <tfoot>
      <tr>
        <td style="text-align: right" colspan="7"><b>Total:</b></td>
        <td style="text-align: right"><b><%= number_to_currency(@invoice.amount, negative_format: "(%u%n)") %></b></td>
      </tr>
      </tfoot>
    </table>
    
  </article>


  <h2>Comments</h2>
  <% unless @invoice.note.blank? %>
    <%= @invoice.note %>
  <% else %>
    Thank you for your business!
  <% end %>

</section>
</body>
</html>
