<%
  start_date = Date.new(2500, 1, 1)
  end_date = Date.new(1900, 1, 1)
  
  invoiced_items = Payment.where(invoice_id: @invoice.id).where.not(payable_type: :invoice)
  invoiced_items.each do |pmt|
    date = sysdate(pmt.created_at)
    date = pmt.payable.shipment.ship_date if pmt.payable_type == "ShipmentItem"
    date = pmt.payable.ship_date if pmt.payable_type == "Shipment"
    date = pmt.payable.submitted if pmt.payable_type == "Order"
    
    start_date = date if date < start_date
    end_date = date if date > end_date
  end
%>

<div class="pull-right">
  <%= link_to edit_admin_billing_invoice_path(@invoice), class: 'btn btn-default btn-sm' do %>
    <i class="fa fa-edit"></i> Edit
  <% end %>
  <%= link_to admin_billing_invoices_print_batch_path, class: 'print-link btn btn-default btn-sm', "print-format" => "pdf" do %>
    <i class="fa fa-print"></i> Print
  <% end %>
</div>

<h2>
  <span class='light pull-right'><%= @invoice.from_affiliate %> &nbsp; </span>
  Invoice #<%= @invoice.id %></h2>
  
<hr>

<div class="row">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">From:</div>
      <div class="panel-body">
        <%= link_to @invoice.from_affiliate, admin_system_affiliate_path(@invoice.from_affiliate) %><br/>
        <%= @invoice.from_affiliate.address_as_text(delimiter: "<br>") unless @invoice.from_affiliate.nil? %>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Invoicee:</div>
      <div class="panel-body">
        <%= link_to_user_or_affiliate @invoice %><br/>
        <%= @invoice.affiliate.address_as_text(delimiter: "<br>") unless @invoice.affiliate.nil? %>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">Payment:</div>
      <div class="panel-body">
        <table class="summary">
          <% if invoiced_items.length > 1 %>
          <tr>
            <td>Date Range</td>
            <td><%= start_date %> to <%= end_date %></td>
          </tr>
          <% end %>
          <tr>
            <td>Amount</td>
            <td><%= number_to_currency(@invoice.amount) %></td>
          </tr>
          <% unless @invoice.paid %>
          <tr>
            <td>Due</td>
            <td>
              <% if @invoice.due_date.nil? || @invoice.due_date == @invoice.post_date %>
                Upon Receipt
              <% else %>
                <%= sysdate @invoice.due_date %>
              <% end %>
            </td>
          </tr>
          <% end %>
          <tr>
            <td>Posted</td>
            <td><%= @invoice.post_date %></td>
          </tr>
          <tr>
            <td>Status</td>
            <td>
              <% if @invoice.paid %>
                <span class="label label-success">paid</span>
              <% else %>
                <span class="label label-warning">unpaid</span>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <% unless @invoice.note.blank? %>
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">Notes:</div>
      <div class="panel-body">
        <%= @invoice.note %>
      </div>
    </div>
  </div>
  <% end %>

</div>

<h3>Payments</h3>
<% if @invoice.payments.length == 0 %>
  <div class="alert alert-danger">No payments received.</div>
<% else %>
  <table class="table table-striped table-condensed table-bordered">
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>User / Affiliate</th>
      <th>Item</th>
      <th>Transaction ID</td>
      <th>Method</th>
      <th>Memo</th>
      <th class="text-right">Amount</th>
    </tr>
    <%= render partial: "admin/billing/payments/payment", collection: @invoice.payments %>
    <tr>
      <td class="text-right" colspan="7"><b>Total:</b></td>
      <td class="text-right"><b><%= number_to_currency(@invoice.payments.sum(&:amount), negative_format: "(%u%n)") %></b></td>
    </tr>
  </table>
<% end %>


<h3>Invoice Items</h3>
<table class="table table-striped table-condensed table-bordered">
  <tr style="background-color: #eee;">
    <th>Date</th>
    <th>Transaction ID</th>
    <th>REF</th>
    <th>Item</th>
    <th>Description</th>
    <th style="text-align: center">Qty</th>
    <th>Memo</th>
    <th style="text-align: right">Amount</th>
  </tr>
  <% invoiced_items.each do |pmt| %>
  <tr>
    <%
    if pmt.payable_type == "ShipmentItem"
      si = pmt.payable
    %>
      <td><%= si.shipment.ship_date %></td>
      <td><%= link_to si.shipment.to_s, admin_store_shipment_path(si.shipment) %></td>
      <td><%= pmt.transaction_id %></td>
      <td><%= si.order_item.item_number %></td>
      <td><%= si.order_item.item_description %></td>
      <td style="text-align: right"><%= si.quantity %></td>
      
    <% elsif pmt.payable_type == "Shipment" 
        shp = pmt.payable %>
      <td><%= shp.ship_date%></td>
      <td><%= link_to shp.to_s, admin_store_shipment_path(shp) %></td>
      <td><%= pmt.transaction_id %></td>
      <td>n/a</td>
      <td>Ship to <%= shp.recipient_name %> (<%= shp.recipient_city %>, <%= shp.recipient_state %>)</td>
      <td class="text-center"><%= pluralize(shp.items.sum(&:quantity), "item")%></td>
      
    <% elsif pmt.payable_type == "Order" %>
      <td><%= sysdate pmt.payable.submitted %></td>
      <td><%= link_to pmt.payable.to_s, admin_store_order_path(pmt.payable) %></td>
      <td><%= pmt.transaction_id %></td>
      <td>n/a</td>
      <td>Ship to <%= pmt.payable.shipping_name %> (<%= pmt.payable.shipping_city %>, <%= pmt.payable.shipping_state %>)</td>
      <td class="text-center"><%= pluralize(pmt.payable.items.sum(&:quantity), "item")%></td>
      
    <% else %>
      <td><%= sysdate pmt.created_at %></td>
      <td><%= pmt.transaction_id %></td>
      <td> - </td>
      <td> - </td>
      <td> - </td>
      <td> - </td>
    <% end %>
    <td><%= pmt.memo.presence %></td>
    <td class="text-right"><%= number_to_currency(pmt.amount * -1.0) %></td>
  </td>
  <% end %>
  <tfoot>
  <tr>
    <td class="text-right" colspan="7"><b>Total:</b></td>
    <td class="text-right"><b><%= number_to_currency(invoiced_items.sum(&:amount) * -1.0) %></b></td>
  </tr>
  </tfoot>
</table>


<% if invoiced_items.any? { |x| x.payable_type == "Shipment"} %>
<% 
  shipment_ids = invoiced_items.where(payable_type: "Shipment").pluck(:payable_id) 
  grouped_items = ShipmentItem.joins(:order_item)
                              .where(shipment_id: shipment_ids)
                              .group("store_order_items.product_id")
                              .pluck("product_id, store_order_items.item_number, store_order_items.item_description, store_order_items.unit_price, sum(store_shipment_items.quantity) as quantity")
  total = 0.0
%>
<h3>Item Sale Summary</h3>
<table class="table table-striped table-condensed table-bordered">
  <tr style="background-color: #eee;">
    <th>Item</th>
    <th>Description</th>
    <th style="text-align: right">Unit Price</th>
    <th style="text-align: center">Qty</th>
    <th style="text-align: right">Extended Price</th>
  </tr>
  <% grouped_items.each do |product_id, item_number, desc, unit_price, quantity| 
      total += unit_price*quantity
  %>
  <tr>
    <td><%= link_to item_number, admin_store_product_path(product_id) %></td>
    <td><%= desc %></td>
    <td style="text-align: right"><%= number_to_currency(unit_price) %></td>
    <td style="text-align: center"><%= quantity %></td>
    <td style="text-align: right"><%= number_to_currency(unit_price*quantity) %></td>
  </tr>
  <% end %>
  <tr>
    <td colspan="4" style="text-align: right"><b>Total:</b></td>
    <td style="text-align: right"><b><%= number_to_currency(total)%></b></td>
  </tr>
</table>
<% end %>

<div class="row hidden-print">
  
  <div class="col-md-8 col-sm-12">
    <div class="panel panel-warning">
      <div class="panel-heading"><i class="fa fa-clock-o"></i> History:</div>
      <div class="panel-body">
       
        <table class="table table-condensed table-striped">
          <tr>
            <th>Timestamp</th>
            <th>IP Address</th>
            <th>User</th>
            <th>Event</th>
            <th>Data 1</th>
          </tr>
          <% @invoice.logs.each do |log| %>
          <tr>
            <td><%= systime log.timestamp %></td>
            <td><%= log.ip_address %></td>
            <td>
              <% if log.user %>
                <%= link_to log.user.name, admin_system_user_path(log.user) %>
              <% else %>
                <span class="light">- system -</span>
              <% end %>
            </td>
            <td><%= log.event.titlecase %></td>
            <td><%= log.data1 %></td>
          </tr>
          <% end%>
        </table>
        
      </div>
    </div>
  </div>
    
  <div class="col-md-4 col-sm-12">
    <div class="panel panel-warning">
      <div class="panel-heading">Email invoice:</div>
      <div class="panel-body">
        <form action='<%= admin_billing_invoices_email_batch_path %>' method="POST">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input type="hidden" name="invoice_id[]" value="<%= @invoice.id %>"/>
          <input class="form-control" type="email" name="email_address" placeholder="email address"/><br>
          <button class="btn btn-sm btn-success">Send Invoice</button>
        </form>
      </div>
    </div>
  </div>
</div>


<form id="frmBatch" action="" method="post">
	<%= token_tag %>
  <input type="hidden" name="printer_id" value=""/>
  <input type="hidden" name="invoice_id[]" value="<%= @invoice.id %>"/>
</form>


<% content_for :title do %>
	Invoice #<%= @invoice.id%>
<% end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
	<li><%= link_to "Invoices", admin_billing_invoices_path(paid: 0) %></li>
	<li class="active">Invoice #<%= @invoice.id%></li>
<% end %>