<div class="pull-right">
  <%= link_to edit_admin_billing_invoice_path(@invoice), class: 'btn btn-default btn-sm' do %>
    <i class="fa fa-edit"></i> Edit
  <% end %>
  <%= link_to admin_billing_invoices_print_batch_path, class: 'print-link btn btn-default btn-sm', target: '_new' do %>
    <i class="fa fa-print"></i> Print
  <% end %>
</div>

<h2>
  <span class='light pull-right'><%= @invoice.from_affiliate %> &nbsp; </span>
  Invoice #<%= @invoice.id %></h2>
  

<div class="row">

  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">Invoicee:</div>
      <div class="panel-body">
        <%= link_to_user_or_affiliate @invoice %><br/>
        <%= @invoice.affiliate.address_as_text(delimiter: "<br>") %>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">Payment:</div>
      <div class="panel-body">
        Posted: <%= @invoice.post_date %><br>
        Due: <%= @invoice.due_date || "<span class='light'>- not set -</span>".html_safe %><br>
        Status: <%= @invoice.paid ? "paid" : "unpaid" %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">Notes:</div>
      <div class="panel-body">
        <%= @invoice.note %>
      </div>
    </div>
  </div>

</div>


<div>
  <% if @invoice.invoiceable_type == 'Order' %>
    <% order = Order.find(@invoice.invoiceable_id) %>
  Order #<%= link_to order.id.to_s, admin_store_order_path(order )%> &nbsp; &nbsp; <b>PO:</b> <%= order.external_order_id %>
  <% end %>
</div>

<table class="table table-striped table-condensed table-bordered">
  <tr>
    <th>Shipment</th>
    <th class="text-center">Quantity</th>
    <th>Item</th>
    <th>Description</th>
    <th class="text-right">Unit price</th>
    <th class="calign">Subtotal</th>
  </tr>
  <% @invoice.items.each do |item|  %>
  <tr>
    <td><%= item.group %></td>
    <td class="text-center"><%= number_with_delimiter item.quantity %></td>
    <td nowrap><%= item.item_number %></td>
    <td><%= item.item_description %></td>
    <td class="text-right"><%= number_to_currency(item.unit_price) %></td>
    <td class="text-right"><%= number_to_currency(item.unit_price * item.quantity) %></td>
  </tr>
  <% end %>
  <tr>
    <th colspan="5" class="text-right">Total: </th>
    <th class="text-right"><%= number_to_currency @invoice.amount %></th>
  </tr>
</table>

<div class="row">
  
  <div class="col-md-8 col-sm-12">
    <div class="panel panel-warning">
      <div class="panel-heading"><i class="fa fa-clock-o"></i> History:</div>
      <div class="panel-body">
       
        <table class="table table-condensed table-striped">
          <tr>
            <th>Timestamp</th>
            <th>IP Address</th>
            <th>User</th>
            <th>Event</th>
            <th>Data 1</th>
          </tr>
          <% @invoice.logs.each do |log| %>
          <tr>
            <td><%= systime log.timestamp %></td>
            <td><%= log.ip_address %></td>
            <td>
              <% if log.user %>
                <%= link_to log.user.name, admin_system_user_path(log.user) %>
              <% else %>
                <span class="light">- system -</span>
              <% end %>
            </td>
            <td><%= log.event.titlecase %></td>
            <td><%= log.data1 %></td>
          </tr>
          <% end%>
        </table>
        
      </div>
    </div>
  </div>
    
  <div class="col-md-4 col-sm-12">
    <div class="panel panel-warning">
      <div class="panel-heading">Email invoice:</div>
      <div class="panel-body">
        <form action='<%= admin_billing_invoices_email_batch_path %>' method="POST">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input type="hidden" name="invoice_id[]" value="<%= @invoice.id %>"/>
          <input class="form-control" type="email" name="email" value="<%= @invoice.affiliate.invoice_email if @invoice.affiliate %>" placeholder="email address"/><br>
          <button class="btn btn-sm btn-success">Send Invoice</button>
        </form>
      </div>
    </div>
  </div>
</div>


<form id="frmBatch" action="" method="post">
	<%= token_tag %>
  <input type="hidden" name="printer_id" value=""/>
  <input type="hidden" name="invoice_id[]" value="<%= @invoice.id %>"/>
</form>


<% content_for :title do %>
	Invoice #<%= @invoice.id%>
<% end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
	<li><%= link_to "Invoices", admin_billing_invoices_path(paid: 0) %></li>
	<li class="active">Invoice #<%= @invoice.id%></li>
<% end %>