<h2>Transaction ID: <%= @cc_transaction.id %></h2>

<table class="table table-condensed table-bordered summary">
  <%= obj_property(@cc_transaction, :payment_method) { |x| link_to x.to_s, admin_billing_payment_method_path(x) } %>
  <%= obj_property @cc_transaction, :created_at %>
  <%= obj_property @cc_transaction, :amount %>
  <%= obj_property @cc_transaction, :gateway %>
  <%= obj_property @cc_transaction, :action %>
  <%= obj_property @cc_transaction, :result %>
</table>

<h3>Debug</h3>
<pre>
  <%= @cc_transaction.data %>
</pre>



<% content_for :title do %>
    Transaction ID: <%= @cc_transaction.id %>
<% end %>


<% content_for :breadcrumbs do %>
  <li><a href="#">Billing</a></li>
  <li><%= link_to "CC Transactions", admin_billing_cc_transactions_path %></li>
  <li class="active">Transaction ID: <%= @cc_transaction.id %></li>
<% end %>