<style>
    .form-inline .control-label { width: 120px; }
</style>

<h2>
	<%= @service_type.name %>
</h2>
<hr/>

<%= simple_form_for([:admin, :billing, @service_type], html: { class: 'form-inline' }) do |f| %>

  <%= render 'admin/shared/error_messages', object: f.object %>

  <%= f.input :code, input_html: { class: 'short' } %>
  <%= f.input :name %>
  <%= f.input :quantity_type %>
  <%= f.input :bill_frequency %>
  <%= f.input :add_on %>
  <%= f.input :sort %>
  
  <div class="form-actions">
  	<%= f.button :submit %>
  </div>
<% end %>


<% content_for :title do %>
Billing: <%= @service_type.name %>
<% end %>

<% content_for :menu do
    render "admin/shared/billing_menu"
end %>

<% content_for :breadcrumbs do %>
	<li><a href="#">Billing</a></li>
	<li><%= link_to "Service Types", admin_billing_service_types_path %></li>
	<li class="active"><%= @service_type.name %></li>
<% end %>


