<h2>
	<%= @service_type.name %>
</h2>
<hr/>

<%= simple_form_for [:admin, :billing, @service_type], html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>

  <%= render 'admin/shared/error_messages', object: f.object %>

  <%= f.input :code, input_html: { class: 'short' } %>
  <%= f.input :name %>
  <%= f.input :quantity_type %>
  <%= f.input :bill_frequency %>
  <%= f.input :add_on %>
  <%= f.input :sort %>
  
  <%= f.button :submit %>

<% end %>


<% content_for :title do %>
  Billing: <%= @service_type.name %>
<% end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">Billing</a></li>
	<li><%= link_to "Service Types", admin_billing_service_types_path %></li>
	<li class="active"><%= @service_type.name %></li>
<% end %>


