<h2>User Subscription #<%= @user_package.id %></h2>

<% unless @user_package.id.nil? %>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Summary</a></li>
      <li><%= link_to "Services", services_admin_billing_user_package_path(@user_package) %></li>
    </ul>
<% end %>

<%= simple_form_for [:admin, :billing, @user_package], html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>

    <%= render 'admin/shared/error_messages', object: f.object %>

    <%= f.association :user %>
    <%= f.association :package %>
    <%= f.input :amount %>
    <%= f.input :rate %>
    <%= f.input :recurr_date %>
    <%= f.input :recurr_status, collection: ['A', 'P', 'D', 'I'] %>
    <%= f.input :bill_attempts %>

    <%= f.button :submit %>
<% end %>



<% content_for :title do %>
    User Subscription #<%= @user_package.id %>
<% end %>



<% content_for :breadcrumbs do %>
    <li><a href="#">Billing</a></li>
    <li><%= link_to "User Subscriptions", admin_billing_user_packages_path %></li>
    <li><%= link_to "User Subscription ##{@user_package.id}", admin_billing_user_package_path(@user_package) %></li>
    <li class="active">edit</li>
<% end %>
