<div class="pull-right">
  <h3 class="light" style="display: inline-block; margin: 8px 30px 0 0">Total: <%= number_to_currency @user_package.total_price %> / mo.</h3>
  <%= link_to "edit", edit_admin_billing_user_package_path(@user_package), class: "btn btn-sm btn-default" %>
</div>
<h2>[<%= @user_package.id %>] <%= @user_package.user %></h2>
<hr/>

<div class="row">
  <div class="col-md-6">
    <table class="table table-condensed table-bordered summary">
      <tr>
        <td width="120">Customer</td>
        <td><%= link_to @user_package.user.name, admin_system_user_path(@user_package.user) %></td>
      </tr>
      <tr>
        <td>Package</td>
        <td><%= @user_package.package.name %></td>
      </tr>
      <tr>
        <td>Monthly Rate</td>
        <td><%= number_to_currency(@user_package.rate) %></td>
      </tr>
      <tr>
        <td>Recurr Status</td>
        <td><%= @user_package.recurr_status %></td>
      </tr>
      <tr>
        <td>Recurr Date</td>
        <td><%= @user_package.recurr_date %></td>
      </tr>
    </table>
  </div>
  
  <div class="col-md-6">
    <table class="table table-condensed table-bordered summary">
      <tr>
        <td>Base Rate</td>
        <td><%= number_to_currency(@user_package.package.rate) %></td>
      </tr>
      <tr>
        <td>With extras</td>
        <td><%= number_to_currency(@user_package.total_price) %>  (currently)</td>
      </tr>
      <tr>
        <td>Balance</td>
        <td><%= number_to_currency(@user_package.payments.sum(:amount)) %></td>
      </tr>
    </table>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h4>Services</h4>
    <table class="table table-striped table-condensed">
      <tr>
        <th>Code</th>
        <th class="text-center">Included</th>
        <th class="text-center">Used</th>
        <th class="text-center">Rate</th>
        <th>Service Type</th>
      </tr>
      <% @user_package.services.each do |svc| %>
          <tr>
            <td><%= svc.service_type.code %></td>
            
            <td class="text-center"><%= svc.quantity %></td>
            <td class="text-center"><%= svc.used %></td>
            <td class="text-center">
              <% if svc.rate %>
                  <%= number_to_currency(svc.rate) %> / <%= svc.service_type.bill_frequency.downcase%>
              <% else %>
                  - included -
              <% end %>
            </td>
            <td>
              <%= svc.service_type.name %>
              <% if svc.items.length > 0 %>
              <small>
                &raquo; 
                <%= svc.items.collect { |x| x.item_id }.join(", ") %>
              </small>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>


    <h4>Payments</h4>
    <table class="table table-striped table-condensed">
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Memo</th>
        <th>Amount</th>
      </tr>
      <% @user_package.payments.order('created_at DESC').each do |payment| %>
          <tr>
            <td><%= payment.id %></td>
            <td><%= systime payment.created_at %></td>
            <td><%= payment.memo %></td>
            <td><%= number_to_currency(payment.amount) %></td>
          </tr>
      <% end %>
    </table>

  </div>
</div>  <!-- row -->


<%= content_for :title do %>
    <%= "Subscription ##{@user_package.id}" %>
<% end %>


<% content_for :menu do
  render "admin/shared/billing_menu"
end %>


<% content_for :breadcrumbs do %>
    <li><a href="#">Billing</a></li>
    <li><%= link_to "Subscriptions", admin_billing_user_packages_path %></li>
    <li class="active">Subscription #<%= @user_package.id %></li>
<% end %>
