<div class="pull-right">
  <form action="" method="get" style="display: inline;">
      <input type="hidden" name="uid" value="<%= params[:uid] %>">
      <input type="text" name="start_date" class="date-field" value="<%= params[:start_date] %>"> to 
      <input type="textbox" name="end_date" class="date-field" value="<%= params[:end_date] %>">
      <input type="submit" class="btn btn-sm btn-default">
  </form>
  <%= link_to 'New Payment', new_admin_billing_payment_path, class: 'btn btn-default btn-sm' %>
</div>

<h2>
  <i class="fa fa-money"></i> &nbsp;Payments
</h2>


<% if !params[:uid].blank? || !params[:start_date].blank? || !params[:end_date].blank? %>
  <div class="bs-callout <%= @payments.total_entries == 0 ? "bs-callout-danger" : "bs-callout-info" %>">
    <%= link_to request.url.split('?').first, class: "pull-right btn btn-xs btn-default" do %>
      <i class="fa fa-times"></i> clear filter
    <% end %>
    Found <%= @payments.total_entries %> records matching search criteria
  </div>
<% end %>



<%= will_paginate @payments %>
<table class="table table-striped table-condensed">
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>User</th>
    <th>Customer</th>
    <th>Item</th>
    <th>Method</th>
    <th>Memo</th>
    <th>Amount</th>
  </tr>
  <% @payments.order('created_at DESC').each do |pmt| %>
  <tr>
    <td><%= link_to pmt.id.to_s, admin_billing_payment_path(pmt) %></td>
    <td><%= systime pmt.created_at %></td>
    <td>
      <% if pmt.user_id == 0 %>
        - system -
      <% elsif pmt.user.nil? %>
        - guest -
      <% else %>
          <%= link_to pmt.user.name, admin_system_user_path(pmt.user) %>
      <% end %>
    </td>
    <td><%= tick pmt.customer %></td>
    <td>
      <% if pmt.payable_type == "order" %>
          <%= link_to "Order ##{pmt.payable_id}", admin_store_order_path(pmt.payable_id) %>
      <% elsif pmt.payable_type == "user_package" %>
          <%= link_to "Package: " + UserPackage.find(pmt.payable_id).package.name, admin_billing_user_package_path(pmt.payable_id) %>
      <% elsif pmt.payable_type == "user_service" %>
          <%= UserService.find(pmt.payable_id).service_type.name %>
      <% elsif pmt.payable_type == "shipment" %>
          <% shipment = Shipment.find_by(id: pmt.payable_id)%>
          <%= link_to "Shipment #{shipment}", admin_store_shipment_path(pmt.payable_id) %>
      <% elsif pmt.payable_type == "pbx_cdr" %>
          <%= link_to "Phone Call", admin_pbx_cdr_path(0, uuid: pmt.payable_id) %>
      <% end %>
    </td>
    <td><%= pmt.cc_number %></td>
    <td><%= pmt.memo %></td>
    <td><%= number_to_currency(pmt.amount, negative_format: "(%u%n)") %></td>
  </tr>
  <% end %>
</table>

<p>
  <%= link_to 'CSV', admin_billing_payments_path(format: :csv, uid: params[:uid], start_date: params[:start_date], end_date: params[:end_date]) %> | 
  <b>Balance:</b> <%= number_to_currency(@balance, negative_format: "(%u%n)") %>
</p>


<% content_for :title do %>
    Payments
<% end %>


<% content_for :breadcrumbs do %>
    <li><a href="#">Billing</a></li>
    <li class="active">Payments</li>
<% end %>