<h2>Payment ID: <%= @payment.id %></h2>

<div class="row">
  <div class="col-md-6">
    <table class="table table-condensed table-bordered summary">
      <%= obj_property(@payment, :user) { |x| link_to x.name, admin_system_user_path(x, q: :payments)}%>
      <%= obj_property @payment, :created_at %>
      <%= obj_property @payment, :amount %>
      <tr>
        <td>REF:</td>
        <td>
          <% if @payment.payable_type == "order" %>
              <%= link_to "Order ##{@payment.payable_id}", admin_store_order_path(@payment.payable_id) %>
          <% elsif @payment.payable_type == "UserPackage" %>
              <%= link_to UserPackage.find(@payment.payable_id).package.name + " package [#{@payment.payable_id}]", admin_billing_user_package_path(@payment.payable_id) %>
          <% elsif @payment.payable_type == "shipment" %>
              <% shipment = Shipment.find_by(id: @payment.payable_id)%>
              <%= link_to "Shipment #{shipment}", admin_store_shipment_path(@payment.payable_id) %>
          <% end %>
        </td>
      </tr>
      <%= obj_property @payment, :transaction_id %>
      <%= obj_property @payment, :memo %>
      <%= obj_property @payment, :payment_method %>
    </table>
  </div>
</div>


<% if @payment.amount > 0.0 %>
  <form method="get" action="/admin/billing/payments/<%= @payment.id %>/refund">
    <b>Amount:</b> <input type="number" name="amount" value="<%= @payment.amount %>"> &nbsp; &nbsp; 
    <b>Memo:</b> <input type="text" name="memo"> &nbsp; &nbsp; 
    <button class="btn btn-sm btn-danger">Refund</button>
  </form>
<% end %>


<% content_for :title do %>
    Payment ID: <%= @payment.id %>
<% end %>


<% content_for :breadcrumbs do %>
  <li><a href="#">Billing</a></li>
  <li><%= link_to "Payments", admin_billing_payments_path %></li>
  <li class="active">Payment ID: <%= @payment.id %></li>
<% end %>